/**
 * @author Virtusa
 */
package {{controllerPackage}};

import java.util.List;
import org.bian.annotation.BianRestController;
import org.bian.annotation.BQ;
import org.bian.dto.BianRequest;
import org.bian.dto.BianResponse;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.PathVariable;
import org.bian.dto.*;
import org.bian.service.*;
import org.bian.annotation.functionalpattern.{{functionalPattern}};

@BianRestController
{{#operations}}
public class {{classname}}Controller {
{{#jdk8}}

    {{^isDelegate}}
    Logger log = LoggerFactory.getLogger(ServiceDomainController.class);
    {{/isDelegate}}
{{/jdk8}}

	@Autowired
	{{classname}}Service service;
	
{{#operation}}
{{#vendorExtensions}}
 {{#behavioralQualifier}}
	@BQ("{{behavioralQualifier}}")
 {{/behavioralQualifier}}
 {{#actionTerms}}
  {{#initiate}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, {{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, {{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/initiate}}
  {{#create}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, {{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, {{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/create}}
  {{#activate}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(bianRequest.getData()));
	}
	
  {{/activate}}
  {{#register}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, {{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, {{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/register}}
  {{#configure}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, bianRequest.getData()));
	}
	
  {{/configure}}
  {{#feedback}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, bianRequest.getData()));
	}
	
  {{/feedback}}
  {{#update}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/update}}
  {{#control}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/control}}
  {{#exchange}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/exchange}}
  {{#capture}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/capture}}
  {{#record}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/record}}
  {{#execute}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/execute}}
  {{#request}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/request}}
  {{#grant}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/grant}}
  {{#evaluate}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, {{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, {{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/evaluate}}
  {{#provide}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, {{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, {{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/provide}}
  {{#authorize}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}({{#behavioralQualifier}}@PathVariable("cr-reference-id") String crReferenceId, {{/behavioralQualifier}}@RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}({{#behavioralQualifier}}crReferenceId, {{/behavioralQualifier}}bianRequest.getData()));
	}
	
  {{/authorize}}
  {{#terminate}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}));
	}
	
  {{/terminate}}
  {{#notify}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}, @RequestBody BianRequest<{{#bodyParam}}{{baseType}}{{/bodyParam}}> bianRequest) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}, bianRequest.getData()));
	}
	
  {{/notify}}
  {{#retrieve}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId{{#behavioralQualifier}}, @PathVariable("bq-reference-id") String bqReferenceId{{/behavioralQualifier}}) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId{{#behavioralQualifier}}, bqReferenceId{{/behavioralQualifier}}));
	}
	
  {{/retrieve}}
  {{#retrieveRefIds}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<List<String>> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId));
	}
	
  {{/retrieveRefIds}}
  {{#retrieveSD}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<{{returnType}}> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId));
	}
	
  {{/retrieveSD}}
  {{#retrieveBQs}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<List<String>> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}() {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}());
	}
	
  {{/retrieveBQs}}
  {{#retrieveBQIds}}
	@{{functionalPattern}}.{{actionTermTitleCase}}
	public BianResponse<List<String>> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(@PathVariable("sd-reference-id") String sdReferenceId, @PathVariable("cr-reference-id") String crReferenceId, @PathVariable("behavior-qualifier") String behaviorQualifier) {
		return BianResponse.forSuccess(service.{{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(sdReferenceId, crReferenceId, behaviorQualifier));
	}
	
  {{/retrieveBQIds}}
 {{/actionTerms}}
{{/vendorExtensions}}
{{/operation}}
}
{{/operations}}