		{{#returnBaseType}}return JsonReader.read("{{actionTermCamelCase}}-{{returnBaseType}}.json",new TypeReference<{{returnType}}>(){});{{/returnBaseType}}{{^returnBaseType}}return null;{{/returnBaseType}}