/**
 * @author Virtusa
 */
package {{package}};

import java.util.List;

import org.bian.dto.*;

{{#operations}}
public interface {{classname}}Service {

{{#operation}}
{{#vendorExtensions}}
 {{#actionTerms}}
  {{#initiate}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/initiate}}
  {{#create}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/create}}
  {{#activate}}
	{{returnType}} {{actionTermCamelCase}}({{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/activate}}
  {{#register}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/register}}
  {{#configure}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/configure}}
  {{#feedback}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/feedback}}
  {{#update}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/update}}
  {{#control}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/control}}
  {{#exchange}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/exchange}}
  {{#capture}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/capture}}
  {{#record}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/record}}
  {{#execute}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/execute}}
  {{#request}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/request}}
  {{#grant}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/grant}}
  {{#evaluate}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/evaluate}}
  {{#provide}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/provide}}
  {{#authorize}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}({{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/authorize}}
  {{#terminate}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}});
	
  {{/terminate}}
  {{#notify}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request);
	
  {{/notify}}
  {{#retrieve}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}});
	
  {{/retrieve}}
  {{#retrieveRefIds}}
	List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId);
	
  {{/retrieveRefIds}}
  {{#retrieveSD}}
	{{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId);
	
  {{/retrieveSD}}
  {{#retrieveBQs}}
	List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}();
	
  {{/retrieveBQs}}
  {{#retrieveBQIds}}
	List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId, String behaviorQualifier);
	
  {{/retrieveBQIds}}
 {{/actionTerms}}
{{/vendorExtensions}}
{{/operation}}
}
{{/operations}}
