/**
 * @author Virtusa
 */
package {{package}};

import java.util.List;

import org.springframework.stereotype.Service;
import org.bian.dto.*;
import org.bian.util.JsonReader;
import com.fasterxml.jackson.core.type.TypeReference;

{{#operations}}
@Service
public class {{classname}}ServiceImpl implements {{classname}}Service {

{{#operation}}
{{#vendorExtensions}}
 {{#actionTerms}}
  {{#initiate}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/initiate}}
  {{#create}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/create}}
  {{#activate}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}({{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/activate}}
  {{#register}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/register}}
  {{#configure}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/configure}}
  {{#feedback}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/feedback}}
  {{#update}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/update}}
  {{#control}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/control}}
  {{#exchange}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/exchange}}
  {{#capture}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/capture}}
  {{#record}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/record}}
  {{#execute}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/execute}}
  {{#request}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/request}}
  {{#grant}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/grant}}
  {{#evaluate}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/evaluate}}
  {{#provide}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/provide}}
  {{#authorize}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, {{#behavioralQualifier}}String crReferenceId, {{/behavioralQualifier}}{{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/authorize}}
  {{#terminate}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}){
{{>serviceImplJson}}
	}
	
  {{/terminate}}
  {{#notify}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/notify}}
  {{#retrieve}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId{{#behavioralQualifier}}, String bqReferenceId{{/behavioralQualifier}}){
{{>serviceImplJson}}
	}
	
  {{/retrieve}}
  {{#retrieveSD}}
	public {{returnType}} {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId){
{{>serviceImplJson}}
	}
	
  {{/retrieveSD}}
  {{#retrieveRefIds}}
	public List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId){
		{{#returnBaseType}}return JsonReader.read("{{actionTermCamelCase}}-{{returnBaseType}}.json",new TypeReference<List<String>>(){});{{/returnBaseType}}{{^returnBaseType}}return null;{{/returnBaseType}}
	}
	
  {{/retrieveRefIds}}
  {{#retrieveBQs}}
	public List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(){
		{{#returnBaseType}}return JsonReader.read("{{actionTermCamelCase}}-{{returnBaseType}}.json",new TypeReference<List<String>>(){});{{/returnBaseType}}{{^returnBaseType}}return null;{{/returnBaseType}}
	}
	
  {{/retrieveBQs}}
  {{#retrieveBQIds}}
	public List<String> {{actionTermCamelCase}}{{behavioralQualifierTitleCase}}(String sdReferenceId, String crReferenceId, String behaviorQualifier){
		{{#returnBaseType}}return JsonReader.read("{{actionTermCamelCase}}-{{returnBaseType}}.json",new TypeReference<List<String>>(){});{{/returnBaseType}}{{^returnBaseType}}return null;{{/returnBaseType}}
	}
	
  {{/retrieveBQIds}}
 {{/actionTerms}}
{{/vendorExtensions}}
{{/operation}}
}
{{/operations}}
